.videoContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
  animation: fadeIn 1.5s ease;
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.overlayContent h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.overlayContent p {
  max-width: 750px;
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

.exploreButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exploreButton a {
  color: white;
  text-decoration: none;
}

.exploreButton:hover {
  background-color: #0056b3;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
